<!DOCTYPE html>
<html ng-app="angular-owl-widget">

<head>
    <meta charset="utf-8" />
    <title>Angular Owl Carousel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
</head>

<body ng-controller="MainCtrl">
    <div id="tabs" class="container" ng-cloak>
        <div class="page-header">
            <h1>Angular/Owl Carousel Widget</h1>
        </div>
        <ul  class="nav nav-pills">
            <li class="active">
                <a href="#first-tab" data-toggle="tab">{{firstFeedName}}</a>
            </li>
            <li>
                <a href="#second-tab" data-toggle="tab">{{secondFeedName}}</a>
            </li>
            <li>
                <a href="#third-tab" data-toggle="tab">{{thirdFeedName}}</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="first-tab">
                <data-owl-carousel class="owl-carousel" data-options="defaultOptions">
                    <div owl-carousel-item="" ng-repeat="item in firstFeedNews" class="item" ng-if="item.image !== null">
                        <a ng-href="{{item.link}}" target="_blank">
                            <img ng-src="{{item.image}}" alt="{{item.source.name}}"/>
                        </a>
                        <p class="source-name">{{item.source.name}}</p>
                        <p class="description">{{item.description}} <a class="link" ng-href="{{item.link}}" target="_blank">les mer</a></p>
                    </div>
                </data-owl-carousel>
            </div>
            <div class="tab-pane" id="second-tab">
                <data-owl-carousel class="owl-carousel" data-options="defaultOptions">
                    <div owl-carousel-item="" ng-repeat="item in secondFeedNews" class="item" ng-if="item.image !== null">
                        <a ng-href="{{item.link}}" target="_blank">
                            <img ng-src="{{item.image}}" alt="{{item.source.name}}"/>
                        </a>
                        <p class="source-name">{{item.source.name}}</p>
                        <p class="description">{{item.description}} <a class="link" ng-href="{{item.link}}" target="_blank">les mer</a></p>
                    </div>
                </data-owl-carousel>
            </div>
            <div class="tab-pane" id="third-tab">
                <data-owl-carousel class="owl-carousel" data-options="defaultOptions">
                    <div owl-carousel-item="" ng-repeat="item in thirdFeedNews" class="item" ng-if="item.image !== null">
                        <a ng-href="{{item.link}}" target="_blank">
                            <img ng-src="{{item.image}}" alt="{{item.source.name}}"/>
                        </a>
                        <p class="source-name">{{item.source.name}}</p>
                        <p class="description">{{item.description}} <a class="link" ng-href="{{item.link}}" target="_blank">les mer</a></p>
                    </div>
                </data-owl-carousel>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.min.js"></script>
<script src="js/app.js"></script>
</html>
